@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700&family=Rubik:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Rubik', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    background-color: #b041d0;
    background-image: linear-gradient(304deg, #b041d0 0%, #5097c8 46%, #fd70ff 100%);   
}

.login-box {
    /* ընդհանուր մեծ պատուհանը */
    position: relative;
    height: 450px;
    width: 400px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(11, 10, 10); 
    opacity: 0.7;
    border: 2px  rgb(11, 10, 10) solid;
    z-index: 10;
    margin-bottom: 0.5%;
}

.login-img {
    /* մարդուկ */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    opacity: 0.7;
    /* նկարի թափանցելիություն */
}

.login-img img {
    border-radius: 100%;
}
.input-box label {
    /* maili anun@ grac */
    position: absolute;
    top: 50%;
    left: 40px; 
    /* pointer-events: none;  */
    transition: 0.5s;
    /* ?????????? */
}
.icon {
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: 10;
    transition: .5s;
}
/* գրածը քլիքով վերև հանող կոդ */
.input-box input:focus~label,
.input-box input:valid~label {
        top: -6px;
}

.input-box input:focus~.icon,
.input-box input:valid~.icon {
    top: -6px;
}

.input-box input {
    position: relative;
    /* դաշտը որտեղ գրում ենք */
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    /* input-@ թափանցիկ դարձնող կոդ */
    font-size: 1rem;
}

.input-box {
    position: relative;
    height: 50px; 
    width: 310px;
    margin-top: 35px;
    margin: 40px 0;
    border-bottom: 2px solid white;
}
.login-wrapper {
    position: absolute;
    /* top: 70%; */
    padding: 0;
}

.login-wrapper button {
    /* padding-top: 0; */
    width: 128px;
    /* height: 30px; */
    background-color: rgb(233, 230, 235); 
    color: black;
    cursor: pointer;
     padding: 7px 15px; 
    overflow: hidden; 
     transition: all 1s ease; 
    border-radius: 3px;
  }

 .login-wrapper button:hover {
background-color: #b041d0;
background-image: linear-gradient(304deg, #b041d0 0%, #5097c8 46%, #fd70ff 100%);
} 

.login-link {
    text-decoration: none;
    color: rgb(41, 40, 40);
    font-size: 13px;
}

.forgit-pass {
    text-decoration: none;
    font-size: 0.8rem;
    color: rgb(212, 210, 210);
    font-style: italic;
    padding-left: 30px;

}






.register-wrapper {
    color: aliceblue;
    display: flex;
    justify-content: center; 
    justify-content: center;
    align-items: center; 
    margin-top: 4px;
    height: 80px;
    width: 400px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(11, 10, 10); 
    opacity: 0.7;
    border: 2px  rgb(11, 10, 10) solid;
    z-index: 10; 
}
.register-wrapper a {
    text-decoration: none;
}

